* {
    margin:0;
    padding:0;
}
body {
    background:#ffffff;
}
.wrap {
    width:1000px;
    margin:0 auto;
}
.logo {
    height:250px;
    background:#ffffff;
}
.logo_left {
    width:530px;
    float:left;
}
.logo_right {
    height: 170px;
    overflow: hidden;
    background: url(../images/top_logo.jpg) no-repeat;
}
.logo_right a {
    font-size:10px;
    color:#6EB3DA;
    font-family:"微软雅黑";
    text-decoration:none;
    padding: 5px 5px;
    float: right
}
.logo_right a:hover {
    color: red;
    text-decoration: underline;
}
.logo .nav ul {
    width: 100%;
    overflow: hidden;
    background: #147CA7;
}
.logo .nav li {
    width:100px;
    float:left;
    line-height:40px;
    text-align:center;
    list-style-type:none;
    height:40px;
    border-right: 1px solid #ccc;
}
.logo .nav li a {
    display:block;
    font-size:14px;
    font-family:"微软雅黑";
    text-decoration:none;
    height:40px;
    color: #fff;
}
.logo .nav li a:hover {
    text-decoration: underline;
}
.logo .searchbox {
    float: right;
    width: 246px;
    position: relative;
    line-height: 40px;
    color: #ccc;
    font-size: 12px;
    padding:0 10px;
}
.logo .searchbox .inputbtn {
    position: absolute;
    top: 11px;
    left: 242px;
}
.logo .time {
    color: #000;
    height: 30px;
    font-size: 12px;
    line-height:30px;
    float: right;
    padding-top: 4px;
    padding-right: 20px;
}
#MY_slide {
    margin:0 auto;
    position: relative;
    width: 1000px;
    height: 178px;
    overflow: hidden;
}
#MY_slidebox {
    width: 1000px;
    height: 178px;
    position: relative;
    left: 0px;
    overflow: hidden;
}
#MY_slidebox a {
    position: absolute;
    opacity: 0;
}
#MY_slidebox a img {
    display: block;
}
#MY_slidebar {
    position: absolute;
    top: 85%;
    left: 50%;
    z-index: 200;
}
#MY_slidebar span {
    display: inline-block;
    width: 12px;
    height: 12px;
    _height: 12px;
    overflow: hidden;
    background: url('../images/pagination.png') 0 0 no-repeat;
    margin-left: 5px;
}
#MY_slidebar span:hover {
    cursor: pointer;
    background-position: 0 -12px;
}
#MY_slidebar #MY_current {
    background-position: 0 -12px;
}
#MY_slidebox #show {
    opacity: 1;
    z-index: 10;
}
.copyright {
    float:left;
    margin-top: 10px;
    width:100%;
    height: 40px;
    background-color: #6B8EBE;
}
.copyright p {
    line-height: 40px;
    text-align: center;
    color: #000;
    font-size: 12px;
    font-family:"微软雅黑";
}
a:hover {
    color: red;
}

/*导航子菜单*/
.logo .menu a {
    color:#000;
    font-size:12px;
    display: block;
    text-decoration: none;
    width: 80px
}
.logo .menu a:hover {
    color:#fff;
    font-size:12px;
}
.logo .menu ul {
    margin:0px;
    padding:0px;
}
.logo .menu li {
    background:#80AFC2;
    list-style: none;
    text-indent: 1em;
    line-height:30px;
    padding:0 10px 0 10px;
}
.logo #menu2_box {
    width:1000px;
    margin:0 auto;
    height:30px;
    margin-bottom:-30px;
    position: relative;
}
.logo #menu2_box_in {
    position: absolute;
    top: 0px;
    height: 30px;
}