.newstitle{
    text-align: center;
    padding: 10px 0;
    color: red;
    height: 35px;
    line-height: 35px;
}
.news hr{
    width: 686px;
    height:1px;
    border:none;
    border-top:1px dashed #CCC;
    margin: 0 auto;
}
.newstime{
    text-align: center;
    font-size: 12px;
    color: #989898;
    height: 30px;
    line-height: 30px;
}
.newscontent{
    font-size: 14px;
    color: #ccc;
    padding: 20px;
    letter-spacing: 2px;
    line-height: 150%;
}
.newspic img{
    width: 540px;
    height: 300px;
    margin:10px 100px;
}
.newspic p{
    font-size: 12px;
    text-align: center;
}
.newspic{
    margin-bottom: 100px;
}